body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(51, 51, 51, 0.658);
}

nav {
    width: calc(100vw-25px);
    padding: 0 25px;
    height: 14vh;
    background-color: #38598b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#start-btn {
    width: 150px;
    height: 8vh;
    border-radius: 15px;
    color: white;
    background-color: #113f67;
    border: 1px solid #0a2e4e;
}

#start-btn:hover {
    background-color: #0a2e4e;
    color: #a2a8d3;
    cursor: pointer;
}

main {
    width: calc(100vw-25px);
    height: 86vh;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.player-section {
    width: 20%;
}

.customize-chips img {
    width: 18%;
    height: auto;
}

.player-section:first-of-type {
    background-color: aliceblue;
}

.player-section:last-of-type {
    background-color: aliceblue;
}

#board {
    background-color: aliceblue;
    width: 50%;
}

canvas {
    width: 100%;
    height: 100%;
}