* {
    margin: 0;
    font-family: "ＭＳ Ｐゴシック";
    font: 16px bold;
}

#coins-counter, #lifes-counter {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
}

#lifes-counter {
    width: 150px;
    height: 70px;
    margin-left: 10px;
    left: 0;
}

#coins-counter {
    justify-content: right;
    width: 200px;
    right: 0;
}

#heart {
    width: 50px;
    height: 50px;
    background-image: url("../img/hearts.png");
    background-size: 150px 50px;
    animation: having-lifes 1s linear infinite;
}

@keyframes having-lifes {
    0% {transform: scale(1);}
    50% {transform: scale(1);}
    75% {transform: scale(1.2);}
    80% {transform: scale(1);}
    85% {transform: scale(1.2);}
}

@keyframes not-having-lifes {
    0% {
        background-position-x: 53px;
    }
    50% {
        transform: scale(0.5) rotate(180deg);
    }
    100% {
        background-position-x: 53px;
        transform: scale(1) rotate(360deg);
    }
}

#coin {
    width: 100px;
    height: 100px;
    background-image: url("../img/coin.png");
    transform: scale(0.5);
    animation: coin 0.5s steps(9) infinite;
}

.amount-collected {
    width: 50px;
    height: 40px;
    margin: 0%;
    padding: 0%;
    color: white;
    font: 35px bolder;
    text-align: right;
}

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: repeat-x;
    background-size: cover;
    z-index: -1;
    top: 0;
    left: 0;
}

#layer-plant {
    z-index: 2;
}

.layer-1 {
    background-image: url("../img/layers-1/sky.png");
}
.layer-2 {
    background-image: url("../img/layers-1/clouds_2.png");
    /* animation: background 70s linear infinite; */
}
.layer-3 {
    background-image: url("../img/layers-1/rocks.png");
    /* animation: background 120s linear infinite; */
}
.layer-4 {
    background-image: url("../img/layers-1/clouds_1.png");
    /* animation: background 50s linear infinite; */
}
.layer-5 {
    background-image: url("../img/layers-1/ground_1.png");
    /* animation: background 80s linear infinite; */
}
.layer-6 {
    background-image: url("../img/layers-1/ground_2.png");
    /* animation: background 40s linear infinite; */
}
.layer-7 {
    background-image: url("../img/layers-1/ground_3.png");
    /* animation: background 10s linear infinite; */
}
.layer-8 {
    background-image: url("../img/layers-1/plant.png");
    /* animation: background 10s linear infinite; */
}

@keyframes background {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -100vw; /* TODO - hacerlo dinamico segun el ancho de la pantalla */
    }
}
#menu {
    width: 30%;
    height: 40vh;
    top: 30vh;
    left: 35%;
    background-color: #0a2e4eee;
    position: absolute;
    border: 2px dashed black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
}

.maps {
    width: 40%;
    height: 20vh;
    background-size: cover;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, 0);
}
.maps:hover {
    cursor: pointer;
    border: 1px solid black;
}

#map-1 {
    background-image: url("../img/layers-1/map.png");
}
#map-2 {
    background-image: url("../img/layers-2/map.png");
}

#start-btn {
    width: 100px;
    height: 50px;
    background-color: #38598b;
    border-radius: 5px;
    border: 1px solid #113f67;
    color: white;
}
#start-btn:hover {
    color: #a2a8d3;
    background-color: #113f67;
    cursor: pointer;
}
/* 
#character-container {
    position: absolute;
    top: 490px;
    width: 60px; 
    height: 65px;
    left: 250px;
    background: url("../img/character3.png") no-repeat;
    background-position-x: -10px;
    background-position-y: -292px;
    transform: scale(1.5);
} */

@keyframes character-die {
    0% {
        background-position-x: -240px;
        background-position-y: -292px;
        width: 75px;
    }
    100% {
        background-position-x: -490px;
        background-position-y: -292px;
        width: 95px;
    }
}
@keyframes character-container-die {
    0% {
        width: 75px;
        left: 250px;
    }
    30% {
        top: 60vh;
    }
    100% {
        left: 100px;
        top: 85vh;
        width: 95px;
    }
}

@keyframes character-jump {
    0% {
        background-position-x: -10px;
        background-position-y: -292px;
    }
    100% {
        background-position-x: -250px;
        background-position-y: -292px;
    }
}
@keyframes character-container-jump {
    0% {top: 85vh;}
    100% {top: 60vh;}
}

@keyframes run {
    0% {
        background-position-x: -10px;
        background-position-y: -115px;
    }
    100% {
        background-position-x: -480px;
        background-position-y: -115px;
    }
}

#obstacle-1 {
    display: none;
    width: 70px;
    height: 70px;
    background-color: red;
    position: absolute;
    bottom: 30px;
    right: 0;
    /* animation: obstacle-1 2s linear infinite; */
}

@keyframes interactable-object {
    0% {right: 0;}
    100% {right: 100%;}
}

@keyframes coin {
    0% {
        right: 0;
        background-position-x: 0%;
    }
    100% {
        right: 100%;
        background-position-x: 100%;
    }
}

@keyframes bat {
    0% {
        background-position-x: 100%;
        background-position-y: -144px;
    }
    100% {
        background-position-x: 0%;
        background-position-y: -144px;
    }
}

@keyframes wolf {
    0% {
        background-position-y: -320px;
        background-position-x: -320px;
    }
    100% {
        background-position-x: -576px;
        background-position-y: -320px;
    }
}

@keyframes goblin {
    0% {
        background-position-y: -192px;
        background-position-x: -455px; 
    }
    100% {
        background-position-x: 0px;
        background-position-y: -192px;
    }
}

/* 
#character4 {
    width: 60px; 
    height: 80px;
    border: 2px solid red;
    position: absolute;
    top: 490px;
    left: 250px;
    background: url("../img/character/run/1.png") no-repeat;
    animation: run 1s steps(6) infinite;
} */
/* 
#character2 {
    width: 120px; 
    height: 150px;
    border: 2px solid red;
    background: url("../img/character2.png") no-repeat;
    animation: runCharacter2 1s steps(9) infinite;
}

@keyframes runCharacter2 {
    0% {
        background-position-x: -30px;
        background-position-y: -210px;
    }
    100% {
        background-position-x: -1168px;
        background-position-y: -210px;
    }
} */