body {
    margin: 0;
}

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: repeat-x;
    background-size: cover;
    
    top: 0;
    left: 0;
}

.layer-1 {
    background-image: url("../img/layers/sky.png");
}
.layer-2 {
    background-image: url("../img/layers/clouds_2.png");
    /* animation: background 70s linear infinite; */
}
.layer-3 {
    background-image: url("../img/layers/rocks.png");
    /* animation: background 120s linear infinite; */
}
.layer-4 {
    background-image: url("../img/layers/clouds_1.png");
    /* animation: background 50s linear infinite; */
}
.layer-5 {
    background-image: url("../img/layers/ground_1.png");
    /* animation: background 80s linear infinite; */
}
.layer-6 {
    background-image: url("../img/layers/ground_2.png");
    /* animation: background 40s linear infinite; */
}
.layer-7 {
    background-image: url("../img/layers/ground_3.png");
    /* animation: background 10s linear infinite; */
}
.layer-8 {
    background-image: url("../img/layers/plant.png");
    /* animation: background 10s linear infinite; */
}

@keyframes background {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1360px; /* TODO - hacerlo dinamico segun el ancho de la pantalla */
    }
}
#menu {
    width: 30%;
    height: 40vh;
    top: 30vh;
    left: 35%;
    background-color: #0a2e4eee;
    position: absolute;
    border: 2px dashed black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-btn {
    width: 100px;
    height: 50px;
    background-color: #38598b;
    border-radius: 5px;
    border: 1px solid #113f67;
    color: white;
}
#start-btn:hover {
    color: #a2a8d3;
    background-color: #113f67;
    cursor: pointer;
}

#character3 {
    width: 60px; 
    height: 65px;
    position: absolute;
    top: 490px;
    left: 250px;
    background: url("../img/character3.png") no-repeat;
    background-position-x: -10px;
    background-position-y: -292px;
}

@keyframes die {
    0% {
        background-position-x: -240px;
        background-position-y: -292px;
        left: 150px;
        width: 75px;
    }
    100% {
        background-position-x: -490px;
        background-position-y: -292px;
        top: 490px;
        left: 100px;
        width: 95px;
    }
}

@keyframes jump {
    0% {
        background-position-x: -170px;
        background-position-y: -292px;
    }
    100% {
        background-position-x: -170px;
        background-position-y: -292px;
        top: 300px;
    }
}

@keyframes run {
    0% {
        background-position-x: -10px;
        background-position-y: -115px;
    }
    100% {
        background-position-x: -480px;
        background-position-y: -115px;
    }
}

#obstacle-1 {
    display: none;
    width: 70px;
    height: 70px;
    background-color: red;
    position: absolute;
    bottom: 30px;
    right: 0;
    /* animation: obstacle-1 2s linear infinite; */
}

@keyframes obstacle-1 {
    0% {right: 0;}
    100% {right: 100%;}
}

/* 
#character4 {
    width: 60px; 
    height: 80px;
    border: 2px solid red;
    position: absolute;
    top: 490px;
    left: 250px;
    background: url("../img/character/run/1.png") no-repeat;
    animation: run 1s steps(6) infinite;
} */
/* 
#character2 {
    width: 120px; 
    height: 150px;
    border: 2px solid red;
    background: url("../img/character2.png") no-repeat;
    animation: runCharacter2 1s steps(9) infinite;
}

@keyframes runCharacter2 {
    0% {
        background-position-x: -30px;
        background-position-y: -210px;
    }
    100% {
        background-position-x: -1168px;
        background-position-y: -210px;
    }
} */