body {
    margin: 0;
    font-family: sans-serif;
    background-color: #333;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

button, select, input {
    outline: none;
    border: none;
}

button:hover, select:hover, input:hover {
    cursor: pointer;
}

.toolbar-section {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    background: #444;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.toolbar-section button {
    border-radius: 100%;
    border: none;
    background: none;
    color: #fff;
    margin: 1em;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
}

select {
    border-radius: 0%;
    width: auto;
    border: none;
    background: none;
    color: #fff;
    margin: 1em;
    opacity: 50%;
    padding: .5em;
    border-radius: 10px;
}

.toolbar-section button:hover {
    opacity: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#btn-color, select {
    background: rgba(0, 0, 0, 0.5);
}

#btn-color::-webkit-color-swatch {
    margin: -.6em;
}

.canvas-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    background-color: #fff;
}

.input-url-img-section {
    position: absolute;
    background: #444;
    right: 0;
    margin-top: 20%;
    display: flex;
    border-radius: 1em;
    align-items: center;
}

#input-url-img {
    border-radius: .5em;
    margin: .5em 1em .5em 1.5em;
    height: 25px;
    color: rgba(42, 134, 255, 0.822);
    text-decoration: underline;
    padding-left: 1em;
    background: rgba(0, 0, 0, .2);
}

.display-none {
    display: none;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border-radius: 100%;
    border: none;
    background: none;
    color: #fff;
    margin: 1em;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
    font-size: .9em;
}

.custom-file-upload:hover {
    opacity: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}